<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFRBt6mCilsNhiKfl_OqoNavrhKBRk4i4</string>
	<key>GCM_SENDER_ID</key>
	<string>828732015536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartPlantMonitor</string>
	<key>PROJECT_ID</key>
	<string>smart-plant-health-monitor</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-plant-health-monitor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828732015536:ios:405668ee3e9380f9c88c75</string>
</dict>
</plist>